.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-image {
  width: 360px;
  cursor: pointer;
}

.sl-wrapper {
  background-color: rgba(46, 47, 66, 0.8);
}
