.feedback-form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  background: #fff;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedback-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  outline: transparent;
  margin-bottom: 8px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form input:hover,
.feedback-form input:focus {
  border: 1px solid #000;
}

.feedback-form textarea {
  resize: none;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  outline: transparent;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form textarea:hover,
.feedback-form textarea:focus {
  border: 1px solid #000;
}

.feedback-form button {
  display: block;
  border-radius: 8px;
  padding: 8px 16px;
  max-width: 95px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
}

.feedback-form button:hover,
.feedback-form button:focus {
  background: #6c8cff;
}
